/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	height: 90px;
	padding-top: 10px;
	background-color: #444444;
}

.header-text {
	font-size: 25px;
	color: white;
}

.header-lists {
	margin-right: 50px;
	float: right;
}
.icon {
	color: #dddddd;
}

.header-list, li {
	float: left;
	list-style: none;
	padding-right: 10px;

}

.top-container {
	width: 500px;
	margin: 0 auto;
}

span {
	font-weight: bold;
}

.top-text {
	line-height: 100%;
}

.btn-top {
	display: block;
	width: 500px;
	margin: 0 auto;
}

.btn-1 {
	background-color: #008bbb;
}

.btn-2 {
	background-color: #228b22;
}

.btn-new {
	width: 180px;
	background-color: #3399cc;
	color: white;
}

.flash {
	color: green;
	margin: 20px;
}

